


<div class="container">
<div class="row whitefone">
    <div class="col-lg-9">


<div class="joomla "> <div class="sectionlist"> <h1 class="pagetitle">Библиотека</h1> <div class="description"> <p style="text-align: justify;">В библиотеке строителя приведена полезная информация о строительных материалах и работах, оборудовании и технологиях, используемых при строительстве в Омске. Здесь можно получить ответы на самые различные вопросы, начиная от планирования строительства собственного дома, заканчивая выбором цвета обоев в спальню. Строительные технологии не стоят на месте, и мы стараемся наполнять библиотеку компании &quot;Алмаир&quot; актуальной и современной информацией.</p> <p style="text-align: justify;">Удачного Вам ремонта!</p> </div> <ul> <li><a class="category" href="http://almair.pro/index.php/biblioteka/11-zavodskoe-standartnoe-domostroenie">Заводское стандартное домостроение</a> &nbsp; <span class="number"> ( 6 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/13-dizajn-teorija-i-praktika">Дизайн: теория и практика</a> &nbsp; <span class="number"> ( 5 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/14-vodosnabzhenie-otoplenie-kanalizacija">Водоснабжение, отопление, канализация</a> &nbsp; <span class="number"> ( 8 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/15-2012-11-01-14-24-24">Материалы для пола</a> &nbsp; <span class="number"> ( 3 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/16-materialy-dlja-sten">Материалы для стен</a> &nbsp; <span class="number"> ( 6 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/17-dveri">Все о дверях</a> &nbsp; <span class="number"> ( 7 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/18-drevesina-v-stroitelstve">Древесина в строительстве</a> &nbsp; <span class="number"> ( 5 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/19-nedvizhimost">Недвижимость Омска: новости, аналитика, прогнозы</a> &nbsp; <span class="number"> ( 2 Материалы ) </span></li> <li><a class="category" href="http://almair.pro/index.php/biblioteka/22-krovelnye-raboty">Кровельные работы</a> &nbsp; <span class="number"> ( 1 Материал ) </span></li> </ul> </div> </div> 






</div>
    <div class="col-lg-3">
      
    </div>
  
</div>
  
</div>