



<div class="container">
<div class="row whitefone">
    <div class="col-lg-9">

<h1>изменены цены на услуги строительной техники</h1>
<%= link_to 'Прайс-лист', price_url, target: '_blank' %>




  

       
    </div>
    <div class="col-lg-3">
      
    </div>
  
</div>
  
</div>