<% if user_signed_in? %>
  <% if current_user.is_admin %>
  
<h1>Редактировать новость</h1>

<%= render 'form' %>

 
<%= link_to 'Назад', news_index_path %>
<% else %>
  <%= render 'access' %>
<% end %>
<% end %>