<% if user_signed_in? %>
        <% if current_user.is_admin %>

<h1>New News</h1>

<%= render 'form' %>

<%= link_to 'Назад', news_index_path %>

<% else %>
  <%= render 'access' %>
<% end %>
  
<% end %>