<div class="col-md-8 col-md-offset-2">
<div class="row">
<% if user_signed_in? %>
  <% if current_user.is_admin %>

<h1>Редактировать</h1>

<%= render 'form' %>

 
<% else %>
  <%= render 'access' %>
<% end %>
  
<% end %>
</div></div>