<% if user_signed_in? %>
        <% if current_user.is_admin %>
<h1>New Construction</h1>

<%= render 'form' %>

<%= link_to 'Назад', constructions_path %>
<% else %>
  <%= render 'access' %>
<% end %>
  
<% end %>