// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap";
@import "nivo";
 

 
table{
  font-size: 22px;
  color: green;
  th, td{
  padding: 10px 15px;
  }
}
.container-slider{
  height: 700px;
  img{
    height:680px;
  }
}
#hat{
  height:100px;
  background-color: green;
  background-image: url('/assets/hat.jpg');
  background-size: cover;
}
#htop{
  height: 200px;
  color: white;
  font-size: 3em !important;
  background-color: cyan;
  background-image: url('/assets/most2.jpg');
  background-size: cover;
}
#main-fixed{
position: fixed;
left: 0;
width: 100%;
height: 100%;
z-index: -400;
background-image: url('/assets/rails.jpg');
background-size: cover;
}
#title-rusem{
  padding-top: 60px;
}
#telefax{
  padding-right: 20px;
  font-size: 22px;
}


.whitefone{
  padding: 15px;
  background-image: url('/assets/lined.jpg');

}
#address{
  font-size: 2.5em;
}