<% if user_signed_in? %>
  <% if current_user.is_admin %>

<h1>Editing Material</h1>

<%= render 'form' %>

<%= link_to 'Show', @material %> |
<%= link_to 'Back', materials_path %>
<% else %>
  <%= render 'access' %>
<% end %>
  
<% end %>